body{
    background: wheat;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}

section{
    height: 200px;
    width: 80%;
}

footer{
    height: 300px;
    margin: 2854px auto;
    padding: 0;
}